In [1]:
import pandas as pd
import numpy as np
import string

In [180]:
offers=pd.read_excel("OfferDetails_neat.xlsx")

In [192]:
pd.options.display.max_columns = 50

In [3]:
offers.head()

,MAILID,OFFERID,OFFER_VISUALISATION,OFFER_POSITION,COUNTRY_NAME,REGION_NAME,CITY_NAME,ACCOMMODATION_NAME,REVIEW_RATING,USP1,USP2,USP3,ROOM_OCCUPANCY,DURATION,DEPARTURE_DATE,PRICE,PRICE_ORIGINAL,MEAL_PLAN,ROOMTYPE,STAR_RATING
0,14128,23221,06 - Acco half width,7,Bulgarije,Zwarte Zeekust Varna,Golden Sands,Hotel Excelsior,0,Familiehotel,Shuttle busje naar het centrum,"All inclusive, wel zo makkelijk",3 Pers.,8,Jul 18 2018 12:00AM,664,749.0,All inclusive,2-persoonskamer type A,4
1,14128,23222,06 - Acco half width,6,Spanje,Andalusi√´ - Costa de Almer√≠a,Roquetas de Mar,Hotel Zoraida Resort,8.1,Shows met professionele artiesten,Mooie comfortabele kamers,Zwemparadijs met glijbanen,"4 Pers., 3 Volw., 2 K",8,Jul 14 2018 12:00AM,919,1039.0,All inclusive,2-persoonskamer bergzicht type A,4
2,14128,23223,06 - Acco half width,5,Griekenland,Karpathos,Karpathos-Stad,App. Three Stars,0,Volledig gerenoveerd,Gemoedelijk en kleinschalig,Strand op loopafstand,2 Pers.,8,Jul 17 2018 12:00AM,749,749.0,Logies,2-kamerappartement,3
3,14128,23224,06 - Acco half width,4,Turkije,Turkse Rivi√®ra,Side,Xperience Club Nena,8.2,Origineel Xperience animatieprogramma,Sfeervol en ruim opgezet,7 waterglijbanen,"3 Pers., Max 2 Volw.",8,Jul 14 2018 12:00AM,774,919.0,All inclusive,2-persoonskamer voordeeltarief,5
4,14435,24058,06 - Acco half width,9,Spanje,Andalusi√´ - Costa de Almer√≠a,Roquetas de Mar,Hotel Zoraida Resort,8.1,Shows met professionele artiesten,Mooie comfortabele kamers,Zwemparadijs met glijbanen,"4 Pers., 3 Volw., 2 K",8,Jun 12 2018 12:00AM,519,589.0,All inclusive,2-persoonskamer bergzicht type A,4

In [183]:
offers.describe()

,MAILID,OFFERID,OFFER_POSITION,REVIEW_RATING,DURATION,PRICE,PRICE_ORIGINAL,STAR_RATING
count,2527.000000,2527.000000,2527.000000,2222.000000,2527.000000,2524.000000,2347.000000,2527.00000
mean,19480.283736,14842.182825,4.058963,7.767507,8.113969,497.850634,684.193865,3.84072
std,2149.351997,12902.733189,2.120314,1.694297,0.862057,189.651714,219.567451,0.73231
min,14096.000000,4731.000000,1.000000,0.000000,4.000000,129.000000,249.000000,0.00000
25%,17925.000000,7259.500000,2.000000,7.700000,8.000000,359.000000,529.000000,3.00000
50%,20183.000000,8841.000000,3.000000,8.100000,8.000000,479.000000,649.000000,4.00000
75%,21085.000000,10289.500000,5.000000,8.400000,8.000000,599.000000,803.000000,4.00000
max,22627.000000,49433.000000,14.000000,10.000000,15.000000,2029.000000,2029.000000,5.00000

In [182]:
offers.loc[offers["REVIEW_RATING"]=="-","REVIEW_RATING"]=np.nan
offers["REVIEW_RATING"]=offers["REVIEW_RATING"].astype(float)

offers.loc[offers["DURATION"].apply( lambda x: type(x) is not int),"DURATION"]
offers=offers[offers.DURATION != 'Prijs p.p. (o.b.v. 2 personen)']
offers["DURATION"]=offers["DURATION"].astype(int)

offers["STAR_RATING"]=offers["STAR_RATING"].astype(float)

offers["PRICE"]=offers["PRICE"].astype(float)

offers["OFFER_POSITION"]=offers["OFFER_POSITION"].astype(int)

offers.loc[offers["COUNTRY_NAME"].apply( lambda x: x[0:4]=="Tune" ),"COUNTRY_NAME"]='Tunesie'
offers.loc[offers["COUNTRY_NAME"].apply( lambda x: x[0:4]=="Isra" ),"COUNTRY_NAME"]='Israel'
offers.loc[offers["COUNTRY_NAME"].apply( lambda x: x[0:4]=="Ital" ),"COUNTRY_NAME"]='Italie'
offers.loc[offers["COUNTRY_NAME"].apply( lambda x: x[0:4]=="Kroa" ),"COUNTRY_NAME"]='Kroatie'
offers.loc[offers["COUNTRY_NAME"].apply( lambda x: x[0:4]=="Kaap" ),"COUNTRY_NAME"]='Kaapverdie'
offers.loc[offers["COUNTRY_NAME"].apply( lambda x: x=="Egypte " ),"COUNTRY_NAME"]="Egypte"
offers.loc[offers["COUNTRY_NAME"].apply( lambda x: x=="Spanje " ),"COUNTRY_NAME"]="Spanje"
offers.loc[offers["COUNTRY_NAME"].apply( lambda x: x=="Costa del Sol" ),"COUNTRY_NAME"]="Spanje"
offers.loc[offers["COUNTRY_NAME"].apply( lambda x: x=="Roda" ),"COUNTRY_NAME"]="Griekenland"

offers=pd.get_dummies(offers, columns=['COUNTRY_NAME'])

offers["DISCOUNT"]=1-offers["PRICE"]/offers["PRICE_ORIGINAL"] #discount (between 0 and 1)

In [193]:
offers.head()

,MAILID,OFFERID,OFFER_VISUALISATION,OFFER_POSITION,REGION_NAME,CITY_NAME,ACCOMMODATION_NAME,REVIEW_RATING,USP1,USP2,USP3,ROOM_OCCUPANCY,DURATION,DEPARTURE_DATE,PRICE,PRICE_ORIGINAL,MEAL_PLAN,ROOMTYPE,STAR_RATING,COUNTRY_NAME_Bulgarije,COUNTRY_NAME_Cyprus,COUNTRY_NAME_Egypte,COUNTRY_NAME_Griekenland,COUNTRY_NAME_Israel,COUNTRY_NAME_Italie,COUNTRY_NAME_Kaapverdie,COUNTRY_NAME_Kroatie,COUNTRY_NAME_Malta,COUNTRY_NAME_Marokko,COUNTRY_NAME_Montenegro,COUNTRY_NAME_Portugal,COUNTRY_NAME_Spanje,COUNTRY_NAME_Tunesie,COUNTRY_NAME_Turkije,COUNTRY_NAME_Verenigde Arabische Emiraten
0,14128,23221,06 - Acco half width,7,Zwarte Zeekust Varna,Golden Sands,Hotel Excelsior,0.0,Familiehotel,Shuttle busje naar het centrum,"All inclusive, wel zo makkelijk",3 Pers.,8,Jul 18 2018 12:00AM,664.0,749.0,All inclusive,2-persoonskamer type A,4.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,14128,23222,06 - Acco half width,6,Andalusi√´ - Costa de Almer√≠a,Roquetas de Mar,Hotel Zoraida Resort,8.1,Shows met professionele artiesten,Mooie comfortabele kamers,Zwemparadijs met glijbanen,"4 Pers., 3 Volw., 2 K",8,Jul 14 2018 12:00AM,919.0,1039.0,All inclusive,2-persoonskamer bergzicht type A,4.0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,14128,23223,06 - Acco half width,5,Karpathos,Karpathos-Stad,App. Three Stars,0.0,Volledig gerenoveerd,Gemoedelijk en kleinschalig,Strand op loopafstand,2 Pers.,8,Jul 17 2018 12:00AM,749.0,749.0,Logies,2-kamerappartement,3.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,14128,23224,06 - Acco half width,4,Turkse Rivi√®ra,Side,Xperience Club Nena,8.2,Origineel Xperience animatieprogramma,Sfeervol en ruim opgezet,7 waterglijbanen,"3 Pers., Max 2 Volw.",8,Jul 14 2018 12:00AM,774.0,919.0,All inclusive,2-persoonskamer voordeeltarief,5.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,14435,24058,06 - Acco half width,9,Andalusi√´ - Costa de Almer√≠a,Roquetas de Mar,Hotel Zoraida Resort,8.1,Shows met professionele artiesten,Mooie comfortabele kamers,Zwemparadijs met glijbanen,"4 Pers., 3 Volw., 2 K",8,Jun 12 2018 12:00AM,519.0,589.0,All inclusive,2-persoonskamer bergzicht type A,4.0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0